.color_main {

    color: #FBAA48 !important;

}

.color_point {

    color: #fc3c3c !important;

}
.center {
    display: flex ;
    align-items: center ;
    justify-content: center ;

}

#support_hover:hover{
    background-color: transparent !important;
    color: #FBAA48 !important;
    border: #FBAA48 2px solid;
}

#video_upload:hover{
    background-color: transparent !important;
    color: #FBAA48 !important;
    border: #FBAA48 2px solid;
}

.circle_image{
    width: 100px; height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background-color: #FBAA48;
    border-radius: 30px;
    padding: 5px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 250px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #FBAA48;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
}