.color_main {

    color: #FBAA48 !important;

}

.color_point {

    color: #fc3c3c !important;

}
.center {
    display: flex ;
    align-items: center ;
    justify-content: center ;

}

#support_hover:hover{
    background-color: transparent !important;
    color: #FBAA48 !important;
    border: #FBAA48 2px solid;
}

#video_upload:hover{
    background-color: transparent !important;
    color: #FBAA48 !important;
    border: #FBAA48 2px solid;
}

.circle_image{
    width: 100px; height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}