.color_main {

    color: #FBAA48 !important;

}

.color_point {

    color: #fc3c3c !important;

}

.left {
    display: flex !important;
    align-items: start !important;
    justify-content: start !important;
}

.center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.right {
    display: flex !important;
    align-items: end !important;
    justify-content: end !important;
}

.hover_class{
    background-color: #FBAA48 !important;
    color: white !important;
}

.re_hover_class{
    background-color: white !important;
    color: #FBAA48 !important;
}

#support_hover:hover{
    background-color: transparent !important;
    color: #FBAA48 !important;
    border: #FBAA48 1px solid !important;
}

#support_hover22:hover{
    background-color: #FBAA48 !important;
    color: white !important;
    border: white 1px solid !important;
}

#upload-to-server:hover{
    background-color: #FBAA48 !important;
    color: white !important;
    border: white 1px solid !important;
}
#save-to-disk:hover{
    background-color: #FBAA48 !important;
    color: white !important;
    border: white 1px solid !important;
}

#support_hover2:hover{
    background-color: transparent !important;
    color: #FBAA48 !important;
    border: #FBAA48 1px solid !important;
}

#support_hover3:hover{
    background-color: transparent !important;
    color: #FBAA48 !important;
    border: #FBAA48 1px solid !important;
}

#re_support_hover:hover{
    background-color: #FBAA48 !important;
    color: white !important;
    border: white 1px solid !important;
}

#re_support_hover1{
    border: #FBAA48 1px solid !important;
}

#re_support_hover2{
    border: #FBAA48 1px solid !important;
}

#re_support_hover3{
    border: #FBAA48 1px solid !important;
}

#re_support_hover1:hover{
    background-color: #FBAA48 !important;
    color: white !important;
    border: white 1px solid !important;
}

#re_support_hover2:hover{
    background-color: #FBAA48 !important;
    color: white !important;
    border: white 1px solid !important;
}

#re_support_hover3:hover{
    background-color: #FBAA48 !important;
    color: white !important;
    border: white 1px solid !important;
}

#video_upload:hover{
    background-color: transparent !important;
    color: #FBAA48 !important;
    border: #FBAA48 1px solid;
}

.circle_image{
    width: 100px; height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background-color: #FBAA48;
    border-radius: 30px;
    padding: 5px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 250px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #FBAA48;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
}

#toTop {
    background: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    text-decoration: none;
}