/* 게시판 글쓰기 */
#board_write {
    width:1200px;
    position:relative;
    margin: auto auto 100px auto;
}
#write_area {
    margin-top:70px;
    font-size:14px;}
#in_name {
    margin-top:30px;
}
#in_name textarea {
    font-weight:bold;
    font-size:26px;
    color:#333;
    width: 900px;
    border:none;
    resize: none;
}
#in_title {
    margin-top:30px;
}
#in_title textarea {
    font-weight:bold;
    font-size:26px;
    color:#333;
    width: 900px;
    border:none;
    resize: none;
}
.wi_line {
    border:solid 1px lightgray;
    margin-top:10px;
}
#in_content {
    margin-top:10px;
}
#in_content textarea {
    color:#333;
    width: 900px;
    height: 500px;
    resize: none;
}
#in_pw input {
    margin-top:10px;
}
.bt_se {
    margin-top:20px;
    text-align:center;
}
.bt_se button {
    width:100px;
    height:30px;
}
