body {
    background-color:#eee;
}

#pinBoot {
    position: absolute;
}

img {
    width: auto;
    max-width: 100%;
    height: 200px;
    display: block;
    margin: 0px auto;
}

.white-panel {
    width: 100%;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 410px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.white-panel h1 {
    font-size: 1em;
}
.white-panel h1 a {
    color: #A92733;
}

.white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#wright:hover{
    background-color: transparent !important;
    color: #FBAA48 !important;
    border: #FBAA48 2px solid;
}

#a_tag{
!important;
}

.fo_re {
    color:#FBAA48 !important;
    font-weight: bold !important;
}